body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: #87718A ;
  color: black;
  font-family: verdana, helvetica, sans-serif;
}

img {
  border: 2px solid #ffffff;
}

a:hover {
  color: #A81DBB;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #A81DBB;	
}

div.content {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 5px 2% 5px 2%;
  background: white;
  border: 1px solid #330066;
  padding: 5px 5px 5px 5px;
  width: 95%;
}

h1 {
  font-size: 22px;
  text-align: center;
  color: #87718A;
}

h1 a {
  color: #87718A;
}

h1 a:hover {
  color: red;
}

h2 {
  margin: 0 0 1px 0;
  border-bottom: 1px solid black;
  font-size: 16px;
  color: #87718A;
  text-align: left;
  padding: 0 0 0 0;
  height: auto;
}


.delimeter {
  color: #A81DBB;
}

.text {
  color: black;
  font-size: 14px;
}

.text a {
  color: #A81DBB;
}

.text a:hover {
  color: #87718A;
}

ul ul li .reading {
  position: relative;
  top: 3px; 
  border: 1px dotted black;
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #cccccc;
  text-aligh: left;
}

blockquote {
  font-size: 12px;
  border: 1px dotted black;
  padding: 1px 1px 1px 1px;
  background-color: #cccccc;
  text-align: left;
}

ul {
  list-style-type: none;
}

li:before {
  content: "\00BB \0020";
}

ol {
  list-style-type: none;
}

ul li {
  margin-bottom: 3px;
  margin-top: 3px;
}

ul ul {
  position: relative;
  padding-left: 15px;
}

ul ul li {
  margin-bottom: 10px;
  margin-top: 0px;
}

.topic {
  font-style: italic;
  font-size: 11px;
  font-weight: bold;
}

.pixel-img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    vertical-align: middle;
}